html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

header {
  padding: 0;
  background-color: #282828;
  color: whitesmoke;
  height: 150px;
  width: 100%;
}

nav {
  padding: 10px 0;
}

.item {
  position: relative;
}

.item-img {
  display: block;
  width: 100%;
}

.img-banner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #cd6858;
  color: whitesmoke;
  padding: 10px;
}

ul {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
  padding: 25px;
}

li {
  cursor: pointer;
}

.logo {
  font-size: 18px;
  font-weight: 700;
}

.align-right {
  margin: auto 0 auto auto;
}

i {
  font-size: 20px;
}

section h1 {
  font-size: 40px;
  font-weight: 400;
  margin: 30px 25px;
}

.caption {
  display: flex;
  justify-content: space-between;
}

section p {
  font-size: 18px;
  margin: 15px 25px;
}

button {
  align-self: center;
  border: none;
  background-color: #cd6858;
  color: whitesmoke;
  padding: 10px 15px;
  margin-right: 25px;
  font-size: 18px;
}

.chatbox-bg {
  display: flex;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #dda15e;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 1px 1px 5px #999;
}

.chatbox-img {
  margin: auto;
  width: 50%;
}
